<section>
<div class="text-center">
<h1>About Us Section</h1>
<p>about us text about us text about us text</p>
<p>about us text about us text about us text</p>
<p>about us text about us text about us text</p>
</div>
</secton>
