<div id="about"></div>
<section>
  <div class="container text-center">
    <div class="about-contain">
      <h1>About Us Section</h1>
      <p>about us text about us text about us text</p>
      <p>about us text about us text about us text</p>
      <p>about us text about us text about us text</p>
    </div>
  </div>
</section>
