<a name="contact"></a>
<section class="contact text-center">
  <h1>CONTACT</h1>
  <p>1234 West Chicago St, Chicago, IL 60611</p>
  <p>1(800)333-4444</p>
  <p>email@email.com</p>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-instagram"></a>
  <a href="#" class="fa fa-youtube"></a>
</section>
