<div id="Container">
<video id="video-background" autoplay loop  plays-inline>
  <source src="/media/videoback.mp4" type="video/mp4">
</video>
<div id='videoCover'>
    <img id="logo" src="/media/dog.jpg">
</div>
</div>
