<div id="Container">
  <video id="video-background" autoplay loop plays-inline>
  <source src="/media/C_Town.mp4" type="video/mp4">
</video>
  <div id='videoCover'>
    <img id="logo" class="img-responsive" src="/media/chicago-logo.png">
  </div>
</div>
