
<div class="info-row">
    <div class="info-column">
      <h1>TITLE</h1>
      <p>Content Content Content Content</p>
      <p>Content Content Content Content</p>
      <p>Content Content Content Content</p>
      <p>Content Content Content Content</p>
  </div>
  <div class="info-column blue">

  </div>
</div>
<div class="info-row">
  <div class="info-column blue">
  </div>
    <div class="info-column">
      <h1>TITLE</h1>
      <p>Content Content Content Content</p>
      <p>Content Content Content Content</p>
      <p>Content Content Content Content</p>
      <p>Content Content Content Content</p>
    </div>
</div>
<div class="info-row">
    <div class="info-column">
      <h1>TITLE</h1>
      <p>Content Content Content Content</p>
      <p>Content Content Content Content</p>
      <p>Content Content Content Content</p>
      <p>Content Content Content Content</p>
    </div>
    <div class="info-column blue">
    </div>
</div>
