<section>
  <div class="info-row">
    <div class="text-center info-column">
      <h1>THE BEAN</h1>
      <p>Cloud Gate is a public sculpture by Indian-born British artist Anish Kapoor, that is the centerpiece of AT&T Plaza at Millennium Park in the Loop community area of Chicago, Illinois. The sculpture and AT&T Plaza are located on top of Park Grill, between the Chase Promenade and McCormick Tribune Plaza & Ice Rink. </p>
    </div>
    <div class="info-column first info-bg">
    </div>

  </div>
  <div class="info-row">
    <div class="info-column second info-bg">
    </div>
    <div class="text-center info-column">
      <h1>THE L</h1>
      <p>The Chicago "L" (short for "elevated") is the rapid transit system serving the city of Chicago and some of its surrounding suburbs in the U.S. state of Illinois. It is the fourth-largest rapid transit system in the United States in terms of total route length.</p>
    </div>
  </div>
  <div class="info-row">
    <div class="text-center info-column">
      <h1>SHEDD AQUARIUM</h1>
      <p>Shedd Aquarium is an indoor public aquarium in Chicago, Illinois in the United States that opened on May 30, 1930. The aquarium contains 32,000 animals, and was for some time the largest indoor aquarium in the world with 5,000,000 US gallons of water. </p>
    </div>
    <div class="info-column third info-bg">
    </div>
  </div>
</section>
