<div id="video"></div>
<section class="video">
  <div class="video-box">
    <div class="video-player">
      <iframe src="https://player.vimeo.com/video/52302939" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    </div>
  </div>
</section>
