.first {
  background-image: url("/media/bean.png");
}

.second {
  background-image: url("/media/river.png");
}

.third {
  background-image: url("/media/shedd.png");
}

.info-bg {
  background-size: cover;
  background-position: center center;
}

.info-row {
  display: flex;
  flex-direction: row;
  background: #231f20;
}

.info-column {
  min-height: 400px;
  width: 50%;
  padding: 80px;
}

@media (max-width: 400px) {
  .info-row {
    flex-direction: column;
  }
  .info-column {
    width: 100%;
    min-height: 300px;
  }
  .info-row:nth-child(odd) {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
