nav {
  display: inline-block;
  padding: 32px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.bg {
  width: 100%;
  height: 100px;
  opacity: 0;
}

.show {
  background: black;
}

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

ul {
  margin: -70px auto 0 !important;
  width: 500px;
}

.navLink {
  list-style: none;
  padding: 5px;
  margin: 5px 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  position: relative;
}

.navLink:visited, .navLink:hover, .navLink:active {
  color: white;
  text-decoration: none;
}

@media (max-width: 400px) {
  .navLink {
    letter-spacing: 0;
    padding: 2px;
    margin: 2px;
  }
}
