body,
html {
  height: 100%;
  color: white !important;
  background: #2F4F4F;
  font-size: 16px;
}

h1 {
  margin-top: 0 !important;
}

.header-text{
    font-family: "raleway";
    font-weight: 600;
    letter-spacing: 0.2rem;
}
